#info {
    position: absolute;
    background: #fff;
    transition: .2s opacity, .2s visibility;
    padding: 40px 20px;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    opacity: 0;
    z-index: 999;
    visibility: hidden;
    overflow-y: scroll;
}

#info::-webkit-scrollbar {
    width: 12px;
}

#info::-webkit-scrollbar-thumb {
    background: rgb(0, 11, 31);
    border: 2px solid #fff;
    border-radius: 30px;
}

#info::-webkit-scrollbar-track {
    background: #fff;
}

#info>div {
    margin-bottom: 10px;
}

#info .name {
    font-weight: 500;
}

.openInfo {
    position: absolute;
    background: #fff;
    border: 1px solid;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    right: 30px;
    bottom: 30px;
    padding: 10px;
    transition: .2s opacity, .2s visibility;
    opacity: 0;
    visibility: hidden;
    z-index: 1;
}

.closeInfo {
    position: fixed;
    background: #fff;
    width: 30px;
    height: 30px;
    right: 30px;
    top: 30px;
}