#settings {
    position: absolute;
    width: 100vw;
    left: 0;
    top: 0;
    overflow: hidden;
    z-index: 998;
}

#settings img {
    width: fit-content;
}

#settings form {
    max-height: 0px;
    height: 100%;
    transition: .3s max-height;
    overflow: hidden;
}

#settings form.active {
    max-height: 999px;
}

#settings form > * {
    display: flex;
    border: none;
    background: #fff;
    border-bottom: 1px solid;
    width: 100%;
    font-weight: 400;
    padding-left: 10px;
    white-space: nowrap;
}

#settings form span {
    align-self: center;
}

#settings form input {
    border: none;
    padding: 12px 6px;
    width: 100%;
}

#settings .openPanel {
    background: #fff;
    box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 0.2);
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    width: 100%;
    padding: 20px;
}