/*? ------------- style for shape ------------- */
@import './css/panel.css';
@import './css/shape.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: 100 14px sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background: radial-gradient(circle, rgb(255 255 255) 30%, rgb(215 215 215)) no-repeat;
    width: 100vw;
    height: 100vh;
}

#platform {
    display: flex;
    flex-wrap: wrap;
    transform-style: preserve-3d;
    animation: rotate 30s infinite linear;
}

@keyframes rotate {
    0% {
        transform: rotateX(50deg) rotateZ(0deg);
    }

    100% {
        transform: rotateX(50deg) rotateZ(360deg);
    }
}