/*? ------------- style for shape ------------- */
@import './css/shape.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: 100 14px sans-serif;
}

body {
    position: relative;
    background: radial-gradient(circle, rgb(193, 227, 255) 30%, rgb(105, 212, 255)) no-repeat;
    width: 100vw;
    height: 100vh;
}

#platform {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    transform-style: preserve-3d;
    left: 50%;
    top: 75%;
    animation: rotate 30s infinite linear;
}

@keyframes rotate {
    0% {
        transform: translate(-50%, -75%) rotateX(60deg) rotateZ(0deg);
    }

    100% {
        transform: translate(-50%, -75%) rotateX(60deg) rotateZ(360deg);
    }
}